{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        <header class="post-header">
            <a class="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Blog Logo" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </a>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-meta"><i class="picon picon-thin-021_calendar_date"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}<i class="picon picon-thin-131_tag_sales_price_shop"></i> {{tags separator=" | "}}{{/if}}</span>

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{#if author}}
                <section class="author">
                    <div class="author-pic" style="background-image:url({{author.image}})"></div>
                    <h4><a href="mailto:{{author.email}}">{{author.name}}</a></h4>
                    <p><i class="picon picon-thin-016_link_chain_url"></i> <a href="{{author.website}}">{{author.website}}</a></p>
                    <p><i class="picon picon-thin-042_comment_quote_reply"></i> {{author.bio}}</p>
		            <div class="clearfix"></div>
                </section>
            {{/if}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
                <script id='fb7wusz'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=clawfire&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb7wusz');</script>
            </section>

        </footer>

        <section class="comment">
            <div id="post_g{{id}}_comments"></div>
            <!-- Decide wich kind of ID to use -->
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-locales.min.js"></script>
            <script>
                var migration_wordpress  = moment('2013-12-31');
                var migration_new_articleID = moment('2014-09-28');
                // 1. EASY = Use g_ID_ for post new ArticleID migration
                if( moment({{date published_at format="YYYY-MM-DD"}}).isAfter(migration_new_articleID) ){
                    var AUID = 'g{{id}}'; // STRING
                } else {
                    var AUID = {{id}}; // INTEGER
                }
            </script>
            <!-- START: Livefyre Embed -->
            <div id="livefyre-comments"></div>
            <script src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
            <script>
            (function () {
                fyre.conv.load({}, [{
                    el: 'livefyre-comments',
                    network: "livefyre.com",
                    siteId: "284763",
                    articleId: AUID,
                    signed: false,
                    collectionMeta: {
                        articleId: articleId,
                        url: fyre.conv.load.makeCollectionUrl(),
                    }
                }], function() {});
            }());
            </script>
            <!-- END: Livefyre Embed -->
                        
            </div>
        </section>

        {{/post}}

    </article>
</main>
