{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        <header class="post-header">
            <a id="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Blog Logo" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </a>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-meta"><i class="picon picon-thin-021_calendar_date"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}<i class="picon picon-thin-131_tag_sales_price_shop"></i> {{tags}}{{/if}}</span>

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{#if author}}
                <section class="author">
                    <div class="author-pic" style="background-image:url({{author.image}})"></div>
                    <h4><a href="mailto:{{author.email}}">{{author.name}}</a></h4>
                    <p><i class="picon picon-thin-016_link_chain_url"></i> <a href="{{author.website}}">{{author.website}}</a></p>
                    <p>{{author.bio}}</p>
		    <div class="clearfix"></div>
                </section>
            {{/if}}

            <section class="share">
                <h4>Share this post</h4>
                <script id='fb2lfyc'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=clawfire&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb2lfyc');</script>
            </section>

        </footer>

        <section class="comment">
            <!-- START: Livefyre Embed -->
            <div id="livefyre-comments"></div>
            <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
            <script type="text/javascript">
            (function () {
                var articleId = f{{id}} ;
                fyre.conv.load({}, [{
                    el: 'livefyre-comments',
                    network: "livefyre.com",
                    siteId: "284763",
                    articleId: articleId,
                    signed: false,
                    collectionMeta: {
                        articleId: articleId,
                        url: fyre.conv.load.makeCollectionUrl(),
                    }
                }], function() {});
            }());
            </script>
            <!-- END: Livefyre Embed -->
            </div>
        </section>

        {{/post}}

    </article>
</main>
